/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








/* Add CSS styling here */
*{
    box-sizing:border-box;
    max-width:100%;
}
html{
    font-size:62.5%;
    }
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.6rem;
    line-height:1.5;
    color:#4F4F4F;
}
section{
    padding-top:2%;
}
.mainHeader{
    background-color:teal;
    width:100%;
    border:5px solid grey;
}
h1{
    font-size:6rem;
    color:white;
    padding-left:2%;
    font-family: 'Times New Roman';
}
.navBar{
    display:flex;
    background:teal;
    justify-content:flex-start;
    flex-flow: row wrap;
}
.navText{
    background:white;
    display:flex;
    width:10%;
    margin:2% 2%;
    padding:2% 0;
    border-radius:10px;
    justify-content:center;
    align-items:center;
    transition:.3s;
    flex-flow: row wrap;
}
.navText:hover{
    background:gray;
}
.navText:hover a{
    color:white;
    opacity:1;
}
.navText a{
    text-decoration:none;
    color:#4F4F4F;
    transition:.3s;
}
.meBody{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-flow: row;
    padding-left:3%;
    width:90%;
}
.me img{
    border-radius:30px;
}
h2{
    font-size:3rem;
}
.columnizeMe{
    display:flex;
    flex-flow:column wrap;
    padding-left:5%;
    justify-content: space-evenly;
}
.columnizeMe p{
    width: 60%;
    padding-bottom:2%;
}
.mediaLinks{
    display: flex;
}
.twitLink{
    display:flex;
}
.mediaImg img{
    width:5%;
    padding-left:1%;
    padding-top:.4%;
}
.twitImg img{
    width:11%;
    padding-left:1.5%;
}
.aboutMe{
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    padding-left:5%;
}
.aboutMe h2{
    padding-top:15%;
}
.aboutMe h4{
    padding-top:3%;
}
.aboutMe p{
    width:70%;
    padding-bottom:2%;
    padding-top:10%;
}
.columnizeMe .navText{
    background:white;
    border:1px solid #4F4F4F;
    font-size:2rem;
    justify-content:center;
    align-items:center;
    width:35%;
}
.columnizeMe .navText:hover{
    background:gray;
    opacity:1;
}
.columnizeMe .navText:hover a{
    color: white;
}
.columnizeMe a{
    color:#4F4F4F;
}
.gallery{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
}
.image{
    display:flex;
    background:url(https://picsum.photos/350);
    background-repeat:no-repeat;
    width:350px;
    height:30vh;
    margin:2%;
    margin-bottom:4%;
    align-items:flex-end;
    text-shadow: 3px 3px black;
    font-size:3rem;
    transition:.3s;
    box-sizing:border-box;
    border-radius:30px;
}
.image a{
    color:white;
    display:inline-block;
    padding:3% 5%;
}
.image:hover{
    border:7px solid teal;
}
.image:hover a{
    opacity:1;
}
.checkmeout{
    background:teal;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    padding-top:10px;
}
.checkmeout h2{
    display:flex;
    justify-content:center;
    flex-flow:column wrap;
    align-items:center;
    color:white;
}
.checkmeout .navText{
    display:flex;
    justify-content:center;
    align-content:center;
    background:white;
}
.checkmeout a{
    display:flex;
    font-size:2rem;
    flex-flow:column;
}
.checkmeout .navText:hover{
    background:grey;
}
.checkmeout .navText:hover a{
    color:white;
}
#project1 .gallery{
    justify-content: flex-start;
    align-items: flex-start;
}
#project1 .image{
    display:flex;
    background:url(https://picsum.photos/500);
    background-repeat:no-repeat;
    width:500px;
    margin:2%;
    margin-bottom:4%;
    transition:.3s;
    box-sizing:border-box;
    border-radius:30px;
}
#project1 .image:hover{
    border:none;
}
#project1 .NP{
    margin-top:5%;
}
#project1 .projBody{
    display:flex;
    flex-flow:row nowrap;
}
#project1 .projBody .projBodyText{
    display:flex;
    flex-flow:column wrap;
    padding:2%;
}
#project1 .projBody .projBodyText p{
    padding-top:3%;
}
#project1 footer{
    margin-top:5%;
}
/*Media Queries below*/

/*Tablet View*/
@media (max-width:800px){
    .mainHeader h1{
        width:100%;
        font-size:5rem;
    }
    .me{
        width:250%;
    }
    .meBody p{
        width:100%;
    }
    .checkmeout{
        height:20vh;
        display:flex;
        flex-flow:row nowrap;
    }
    .checkmeout .navText{
        background:white;
        font-size:2rem;
        padding:1%;
        justify-content:center;
        align-items:center;
        width:15%;
    }
    #project1 .projBody{
        flex-flow:column wrap;
    }
}
/*End Tablet View*/


/* Mobile View */
@media (max-width:500px){
    .mainHeader h1{
        font-size:3rem;
        padding-top:5%;
        text-align: center;
    }
    .navBar{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding-bottom:1%;
    }
    .navText{
        width:40%;
        padding:3%;
        margin:1%;
    }
    .meBody{
        flex-direction: column;
    }
    .meBody img{
        margin:4%;
    }
    .columnizeMe{
        justify-content: center;
        align-items: center;
    }
    .columnizeMe .navText{
        background:teal;
        margin-bottom:4%;
        padding:1%;
    }
    .columnizeMe .navText a{
        color:white;
    }
    .columnizeMe p{
        text-align: center;
    }
    .gallery{
        flex-direction: row wrap;
    }
    .gallery .image{
        width:40%;
    }
    .gallery a{
        font-size: 2rem;
        text-shadow:1px 1px black;
        display:inline-block;
        padding-left:10%;
    }
    .checkmeout{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:30vh;
        width:100%;
    }
    .checkmeout .navText{
        width:30%;
        padding:3%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .checkmeout a{
        font-size: 2rem;
        display:flex;
        justify-content:center;
        align-items: center;
    }
    .mediaLinks{
        justify-content: center;
        align-items: center;
        padding-left:40%;
    }
    .mediaLinks img{
        width:10%;
    }
    .twitLink{
        justify-content: center;
        align-items: center;
        padding-left:40%;
    }
    .twitLink img{
        width:12%;
    }
}